<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">
                            <h1>PRTR-SAP Interface Management</h1>
                            <p class="text-muted"></p>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-user"></i></span>
                                </div>
                                <input textBoxFocus [(ngModel)]="username" type="text" class="form-control" placeholder="Username"/>
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="icon-lock"></i></span>
                                </div>
                                <input textBoxFocus [(ngModel)]="password" type="password" class="form-control" placeholder="Password"/>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <button (click)="login()" type="button" class="btn btn-primary px-4">{{'LOGIN.LOGIN_BUTTON' | translate}}</button>
                                </div>
                                <div class="col-6 text-right">
                                    <button type="button" class="btn btn-link px-0">{{'LOGIN.FORGET_PASSWORD' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
