

<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12" style="font-size: 10px">
            <div class="card">
                <div class="card-header">
                    <strong>Filter</strong>
                </div>
                <div class="card-body">
                    <div  class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" >Customer Code: </label>
                            <div class="col-md-3">
                                <input #txtFirstEditControl  class="form-control"  id="txtCode" [(ngModel)]="code" placeholder="Code" />
                            </div>
                            <label class="col-md-2 col-form-label" >Customer Name:</label>
                            <div class="col-md-3">
                                <input   class="form-control"  [(ngModel)]="name" placeholder="Name" />
                            </div>
                            <div class="col-md-2">
                                <button  (click)="fillData()" type="button" class="btn btn-primary"><i class="fa magnifying-glass"></i>&nbsp; Search</button>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <!--/.col-->
        <!--/.col-->
    </div>
    <!--/.row-->
</div>

<div class="row" style="font-size: 10px">
    <div class="col-md-12">
        <p-table [value]="lists" [paginator]="true" [rows]="15">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th>
                        รหัส
                    </th>
                    <th>
                        คำนำหน้า
                    </th>
                    <th>
                        ชื่อ
                    </th>
                    <th>
                        นามสกุล
                    </th>
                    <th>
                        เบอร์โทรศัพท์
                    </th>
                    <th style="width:20%;text-align: center">
                        Action
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td>
                        {{rowData.code}}
                    </td>
                    <td>
                        {{rowData.prefix_name}}
                    </td>
                    <td>
                        {{rowData.name}}
                    </td>
                    <td>
                        {{rowData.surname}}
                    </td>
                    <td>
                        {{rowData.mobile}}
                    </td>
                    <td style="text-align: center">
                        <button (click)="select(rowData)" type="button" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; Select</button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>