<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Config</strong>
                </div>
                <div class="card-body">
                    <p-table [value]="lists" [paginator]="true" [rows]="15">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th>
                                    Min/Warn/Max Humidity
                                </th>
                                <th>
                                    Min/Warn/Max Temperature
                                </th>
                                <th>
                                    Min/Warn/Max Noise
                                </th>
                                <th style="width:20%;text-align: center">
                                    Action
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData>
                            <tr [pSelectableRow]="rowData">
                                <td>
                                    {{rowData.min_humidity}}  / {{rowData.warn_humidity}} / {{rowData.max_humidity}}
                                </td>
                                <td>
                                    {{rowData.min_temp}}  / {{rowData.warn_temp}} / {{rowData.min_temp}}
                                </td>
                                <td>
                                    {{rowData.min_noise}}  / {{rowData.warn_noise}} / {{rowData.max_noise}}
                                </td>
                                <td style="text-align: center">
                                    <button (click)="edit(rowData)" type="button" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; Edit</button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
    <!--/.row-->
</div>




<div bsModal #editModal="bs-modal" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" >
     <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Config</h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div  class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Min Humidity</label>
                        <div class="col-md-2">
                            <input textBoxFocus type="number"  class="form-control"  [(ngModel)]="row.min_humidity" placeholder="Min Humidity" />
                        </div>
                        <label class="col-md-2 col-form-label" >Warn Humidity</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control"  [(ngModel)]="row.warn_humidity" placeholder="Warn Humidity" />
                        </div>
                        <label class="col-md-2 col-form-label" >Max Humidity</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control"  [(ngModel)]="row.max_humidity" placeholder="Max Humidity" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Min Temperature</label>
                        <div class="col-md-2">
                            <input textBoxFocus type="number"  class="form-control"  [(ngModel)]="row.min_temp" placeholder="Min Temperature" />
                        </div>
                        <label class="col-md-2 col-form-label" >Warn Temperature</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control"  [(ngModel)]="row.warn_temp" placeholder="Warn Temperature" />
                        </div>
                        <label class="col-md-2 col-form-label" >Max Temperature</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control"  [(ngModel)]="row.max_temp" placeholder="Max Temperature" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Min Noise</label>
                        <div class="col-md-2">
                            <input textBoxFocus type="number"  class="form-control"  [(ngModel)]="row.min_noise" placeholder="Min Noise" />
                        </div>
                        <label class="col-md-2 col-form-label" >Warn Noise</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control"  [(ngModel)]="row.warn_noise" placeholder="Warn Noise" />
                        </div>
                        <label class="col-md-2 col-form-label" >Max Noise</label>
                        <div class="col-md-2">
                            <input type="number"  class="form-control"  [(ngModel)]="row.max_noise" placeholder="Max Noise" />
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="cancel()" >Cancel</button>
                <button type="button" class="btn btn-primary" icon="fa-check" (click)="save()" >Save</button> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
