<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>User</strong>
                    <span class="float-right">
                        <button (click)="showDialogToAdd()" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp; New</button>
                    </span>
                </div>
                <div class="card-body">
                    <p-table [columns]="cols" [value]="lists" [paginator]="true" [rows]="15">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                            </th>
                            <th style="width:20%;text-align: center">
                                Action
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                        </td>
                        <td style="text-align: center">
                            <button (click)="edit(rowData)" type="button" class="btn btn-primary"><i class="fa fa-edit"></i>&nbsp; Edit</button>
                            <button (click)="selectRow(rowData);dangerModal.show()" type="button" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp; Delete</button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
</div>
<!--/.row-->
</div>

<div bsModal #editModal="bs-modal" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" >
     <div class="modal-dialog modal-lg modal-primary" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Data</h4>
                <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div  class="form-horizontal">
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" >Name</label>
                        <div class="col-md-6">
                            <input   class="form-control"  id="txtName" [(ngModel)]="row.name" placeholder="Name" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" >Username</label>
                        <div class="col-md-3">
                            <input  class="form-control"  id="txtUsername" [(ngModel)]="row.username" placeholder="Username" />
                        </div>
                        <label class="col-md-3 col-form-label" >Password</label>
                        <div class="col-md-3">
                            <input type="password"  class="form-control"  [(ngModel)]="row.password" placeholder="Password" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="cancel()" >Cancel</button>
                <button type="button" class="btn btn-primary" icon="fa-check" (click)="save()" >Save</button> 
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Data</h4>
                <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{row.name}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Close</button>
                <button type="button" class="btn btn-danger" (click)="dangerModal.hide();deleteRow()">Confirm</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
