<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-6 col-lg-12">
            <div class="card">
                <div class="card-header">
                    Device Info 
                </div>
                <div class="card-body">
                    <div  class="form-horizontal">
                        <div class="form-group row">
                            <label class="col-md-2 col-form-label" >From </label>
                            <div class="col-md-2">
                                <p-calendar [(ngModel)]="sdate"  inputStyleClass="form-control" [showTime]="true" placeholder="To Date" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                            <label class="col-md-2 col-form-label" >To</label>
                            <div class="col-md-2">
                                <p-calendar [(ngModel)]="edate"  inputStyleClass="form-control" [showTime]="true" placeholder="To Date" dateFormat="dd/mm/yy"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-primary" icon="fa-check" (click)="show()" >Show</button> 
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-lg-12">
            <p-chart type="line" [data]="tempData" ></p-chart>
        </div>
        <div class="col-sm-6 col-lg-12">
            <p-chart type="line" [data]="humidityData" ></p-chart>
        </div>
        <div class="col-sm-6 col-lg-12">
            <p-chart type="line" [data]="noiseData" ></p-chart>
        </div>
    </div>
</div>
