<div class="animated fadeIn">
    <div   class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    Device Info 
                </div>
                <div class="card-body">
                    <h4>XDK110</h4>
                </div>
            </div>
        </div><!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    Temperature 
                </div>
                <div class="card-body">
                    <div style="max-height: 250px;max-width: 250px;text-align: center">
                        <canvas #tmpid ></canvas>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    Humidity
                </div>
                <div class="card-body">
                    <div style="max-height: 250px;max-width: 250px;text-align: center">
                        <canvas #humidity ></canvas>
                    </div>
                </div>
            </div>
        </div><!--/.col-->
        <div class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-header">
                    Noise
                </div>
                <div class="card-body">
                    <div style="max-height: 250px;max-width: 250px;text-align: center">
                        <canvas #noise ></canvas>
                    </div>
                </div>
            </div>
        </div><!--/.col-->

    </div><!--/.row-->
</div>
