// Here you can add other styles


.control-autocomplete{
    width: 250px;
}


//Aggrid
//@import "../../node_modules/ag-grid/dist/styles/ag-grid.css";
//@import "../../node_modules/ag-grid/dist/styles/ag-theme-balham.css";

.app-header.navbar .navbar-brand{
    background-size: auto auto;
}


.smallTable {
    font-size: 10px;
    color: red;
}


.numberTD{
    text-align:right;
}